        @-moz-document url-prefix(about: blank), url-prefix(about:newtab), url-prefix(about:about), url(about:profiles), url(about:config) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background: #323234 !important;
    }
}
@-moz-document url(about:newtab),
url(about:about),
url(about:profiles),
url("about:config"),
url(about:home) {
    body {
        background-color: #323234!important;
        color: #D1D1D1!important;
    }
    .card,
    .prefs-pane .sidebar {
        background-color: #2c2c2c!important;
        /*202020*/
        color: #C4C4C4!important;
    }
    .prefs-pane .actions {
        background-color: #2c2c2c!important;
        border-left: 1px solid #D7D7DB;
    }
    .prefs-pane .prefs-modal-inner-wrapper .options {
        background-color: #2c2c2c!important;
        /*202020*/
        color: #C4C4C4!important;
    }
    .prefs-pane-button button {
        border: 1px solid #525A6D!important;
        fill: #EEE!important;
    }
    .prefs-pane-button button:hover {
        background-color: #444444!important;
        border: 1px solid #525A6D!important;
    }
    .prefs-pane-button button:active {
        background-color: #323234!important;
        border: 1px solid #525A6D!important;
    }
    .search-wrapper input {
        background: #474749!important;
        color: #FFF!important;
    }
    .contentSearchHeader,
    .contentSearchSuggestionTable,
    .contentSearchSettingButton,
    .contentSearchHeaderRow {
        background: #2c2c2c!important;
        color: #FFF!important;
        -moz-appearance: none!important;
        border-color: transparent !important;
    }
    .search-wrapper .search-label,
    .search-wrapper .search-button {
        fill: #EEE!important;
    }
    .search-wrapper .search-button:focus,
    .search-wrapper .search-button:hover {
        background-color: #444444!important;
    }
    .search-wrapper .search-button:active {
        background-color: #323234!important;
    }
    .section-top-bar .info-option {
        background: #2c2c2c!important;
        color: #FFF!important;
        -moz-appearance: none!important;
        border-color: transparent !important;
    }
    .context-menu {
        background: #2c2c2c!important;
        color: #C4C4C4!important;
        -moz-appearance: none!important;
        border-color: transparent !important;
    }
    .separator {
        border: 1px solid #525A6D!important;
    }
    .icon {
        fill: #C4C4C4!important;
    }
	html {
		--aboutProfiles-table-background: #444444 !important;
		background-color: #323234 !important;
	}
	#config { background: #1A1F24; color: #BDC3C7; }
	textbox { background: #1c2126; color: #BDC3C7; border-color: #6C7A89; }
	tree { border: none !important; background: rgba(50,50,50,.6) !important; }
	treecol:not([hideheader="true"]), treecolpicker { -moz-appearance: none; border: none; background-color: #39424d; color: #BDC3C7; }
	treecol:not([hideheader="true"]):not([sortable="false"]):hover, treecolpicker:hover { background-color: #0c2126; color: #BDC3C7; }
	treechildren::-moz-tree-row(even) { background-color: #323234 !important; }
	treechildren::-moz-tree-row(odd) { background-color: #424244 !important; }
	treechildren::-moz-tree-row(selected) { background-color: #777 !important; }
	treechildren::-moz-tree-cell-text { color: #fff !important; }
	treechildren::-moz-tree-cell-text(selected) { color: maroon !important; }
	}
	#snippets-container {
    background: #444444 !important;
	}